<!-- <app-baitap1></app-baitap1> -->
<!-- <app-baitap2></app-baitap2> -->
<!-- <app-baitap3></app-baitap3> -->
<app-data-binding></app-data-binding>
<hr />
<app-structural-directive></app-structural-directive>
<hr />
<app-attribute-directive></app-attribute-directive>
<hr />
<app-interaction></app-interaction>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
