<h3>*ngIf</h3>
<div *ngIf="status">Cybersoft</div>
<button class="btn btn-info" (click)="toggle()">Toggle</button>

<hr />

<div *ngIf="isLogin; else PleaseLogin">
  <h1>Xin chao Cybersoft</h1>
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>

<ng-template #PleaseLogin>
  <div>
    <h1>Vui long login</h1>
    <button class="btn btn-success" (click)="login()">Login</button>
  </div>
</ng-template>

<ng-template #Template>
  <div>Noi dung Template</div>
</ng-template>

<div *ngTemplateOutlet="Template"></div>
